#accBtn{
    position: fixed;
    margin: 20px;
}
#errorContainer{
    text-align: center;

    .errorIcon {
        text-align: center;
        font-size: 800px;
        width: 100%;
    }
}

.table-container{
    max-width: 1200px;
    margin: 40px auto;
    display:flex;
    flex-direction: column;
    
    
    .helpButtons{
        padding: 10px 15px;
        margin: 10px;
        display: flex;
        justify-content: flex-end;
    }

    table{
        padding: 0 15px;

        .nameLink:hover {
            cursor: pointer;
        }      
    }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(3, 168, 244, 0.5)
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #03A9F4;
    
}