<div class="mat-elevation-z8">
    
    <div class="searchBtn">
        <button mat-button><mat-icon aria-hidden="false">search</mat-icon></button>
    </div>

    <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef><mat-checkbox>Title</mat-checkbox></th>
            <td mat-cell *matCellDef="let object"><mat-checkbox>{{object.title}}</mat-checkbox></td>
        </ng-container>
    
        <ng-container matColumnDef="accounts">
            <th mat-header-cell *matHeaderCellDef>Number of Accounts</th>
            <td mat-cell *matCellDef="let object">{{object.accounts}}</td>
        </ng-container>
    
        <ng-container matColumnDef="admins">
            <th mat-header-cell *matHeaderCellDef>Group Admins</th>
            <td mat-cell *matCellDef="let object"><mat-chip-list>
                <mat-chip>{{object.admin}}</mat-chip>
            </mat-chip-list></td>
        </ng-container>
    
        <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let object"><mat-icon aria-hidden="false">more_vert</mat-icon></td>
            </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>