

<div class="mat-elevation-z8 tableContainer">
    
    <div class="searchBtn">
        <button mat-button><mat-icon aria-hidden="false">search</mat-icon></button>
    </div>

    <table mat-table [dataSource]="dataSource">
        
        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef><mat-checkbox></mat-checkbox></th>
            <td mat-cell *matCellDef="let object"><mat-checkbox></mat-checkbox></td>
        </ng-container>
        
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let object" (click)="onSelect(object)">{{object.group.name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="accounts">
            <th mat-header-cell *matHeaderCellDef>Number of Accounts</th>
            <td mat-cell *matCellDef="let object">{{object.group.numberOfAccounts}}</td>
        </ng-container>
    
        <ng-container matColumnDef="admins">
            <th mat-header-cell *matHeaderCellDef>Group Admins</th>
            <td mat-cell *matCellDef="let object">
                <ul *ngIf="object.group.groupAdmins.length <= 2">
                    <li class="accListItem" *ngFor="let admin of object.group.groupAdmins; let i=index">{{admin}}</li>
                </ul>
                <ul *ngIf="object.group.groupAdmins.length >= 3">
                    <li class="accListItem" *ngFor="let admin of object.group.groupAdmins | slice:0:1; let i=index">{{admin}}</li>
                    <ng-container *ngIf="object.hidden">
                        <li class="accListItem" *ngFor="let admin of object.group.groupAdmins | slice:1:object.group.groupAdmins.length; let i=index">{{admin}}</li>
                    </ng-container>
                    <li class="showLink" (click)="object.hidden = !object.hidden">{{object.hidden ? 'show less' : 'show ' + (object.group.groupAdmins.length -1) + ' more'}}</li>
                </ul>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="more_vert" mat-cell *matCellDef="let object"><mat-icon aria-hidden="false">more_vert</mat-icon></td>
            </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>